<ion-header>
  <ion-navbar color="primary">
    <ion-title>Active Shift</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="home-content" *ngIf="activeShift">
    <div id="home-time-container">
      <div class="home-time" *ngIf="!working">
        No active shift
      </div>
      <div *ngIf="working" [class.paused]="activeShift.paused" class="home-time">
        {{ activeTime / 1000 | hhmmss }}
      </div>
      <div *ngIf="activeShift.paused" class="home-time">
        {{ activePauseSeconds / 1000 | hhmmss }}
      </div>
    </div>
    <div id="home-buttons">
      <button ion-button icon-only [disabled]="!activeShift.contract" *ngIf="!working" (click)="startNew()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="working && activeShift" (click)="pause()">
        <ion-icon name="pause" *ngIf="!activeShift.paused"></ion-icon>
        <ion-icon name="play" *ngIf="activeShift.paused"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="working" (click)="stop()">
        <ion-icon name="square"></ion-icon>
      </button>
    </div>
    <div id="home-contract">
      <ion-item *ngIf="contracts[0] || activeShift.contract">
        <ion-label>Contract</ion-label>
        <ion-select [disabled]="working" [(ngModel)]="activeShift.contract">
          <ion-option *ngFor="let c of contracts" [value]="c">{{ c }}</ion-option>
          <ion-option *ngIf="activeShift.contract && contracts.indexOf(activeShift.contract) === -1"
                      [value]="activeShift.contract">
            {{ activeShift.contract }}
          </ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="!working">
        <button ion-button full small (click)="addContract()">Add contract</button>
      </div>
    </div>
  </div>
</ion-content>
