page-home {
  .content-md {
  }

  #home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;

    #home-time-container {
      margin-bottom: 50px;
      font-size: xx-large;
      height: 80px;

      .paused {
        color: #8c8c8c;
      }
    }

    #home-buttons {
      button {
        $button-size: 70px;

        border-radius: $button-size / 10;
        font-size: $button-size / 2.1;
        height: $button-size;
        width: $button-size;
      }
    }

    #home-contract {
      margin-top: 20px;
    }
  }
}
